/* ========== BEGIN @fontface ========== */

@font-face {
    font-family: geomanist-light;
    src: url('../font/geomanist-light-webfont.woff');
    /* font-weight:400; */
}

@font-face {
    font-family: geomanist-thin;
    src: url('../font/geomanist-thin-webfont.woff');
    /* font-weight:400; */
}

@font-face {
    font-family: geomanist-regular;
    src: url('../font/geomanist-regular-webfont.woff');
    /* font-weight:400; */
}

@font-face {
    font-family: geomanist-ultra;
    src: url('../font/geomanist-ultra-webfont.woff');
    /* font-weight:400; */
}

/* ========== END @fontface ========== */

/* .cursor {
    cursor: url(images/my-cursor-design.png), auto;
} */

html {
    background: #D3D0CB;
}

/* .btn, button, a {
    cursor: url(https://img.icons8.com/small/16/000000/filled-circle.png), auto;
}

body {
    cursor: url(https://img.icons8.com/small/16/000000/filled-circle.png), auto;
} */

body {
    font-family: geomanist-light, Helvetica, Arial, sans-serif;
    background: #303036;
    color: rgb(159, 171, 194);
    font-size: 1em;
    /* font-family: 'Poppins', sans-serif; */
    text-align: center;
    letter-spacing: .05em;
}

button {
    letter-spacing: .15em;
}

a {
    color: #E1E4E9;
}

h1 {
    color: #1E2032;
    /* color: black; */
    font-size: 4.75em;
    font-family: geomanist-thin;
}

h6 {
    color: #1E2032;
    font-size: 1.25em;
    /* font-family: geomanist-regular; */
}

#test {
    background: 1E2032;
    text-align: center;
    /* color: white; */
}

.example-classname {
    height: 100vh;
}

/* custom nav - do no use materialize nav classes */

#nav-container {
    padding-top: 10%;
    transition: 2s;
    opacity: 0;
}

#nav-main {
    background: #090909;
    color: #E1E4E9;
    text-align: center;
    height: 0;
    /* opacity: 0.95; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    transition-timing-function: ease-out;
    transition-duration: 0.20s;
}

#nav-brand {
    font-size: 1.15em;
    border: none;
    top: 0;
    left: 1em;
    padding: .5em 0em .5em 0em;
    transition-duration: .5s;
    transition-delay: 0.2s;
}

#nav-icon {
    background: none;
    border: none;
    top: 0;
    right: 1em;
    padding: .5em 0em .5em 0em;
    transition-duration: .5s;
    transition-delay: 0.05s;
}

.nav-item {
    color: WHITE;
    transition: 0.5s;
    font-size: 1em;
    z-index: 20002;
    position: fixed;
    text-align: center;
    background: none;
    margin: 2em;
}

#nav-bottom-left {
    bottom: 0;
    left: 0;
}

.nav-item:hover {
    color: #BCED09;
}

i {
    font-size: .8em;
}

i:hover {
    color: #BCED09;
}

.menu-item {
    font-size: 2em;
    font-family: geomanist-light;
    color: #E1E4E9;
}

.menu-number {
    margin: 1em 1em 0 0;
    font-size: 1em;
    opacity: 0;
    transition: 1s;
    color: #FD8B55;
}

.menu-row {
    transition: .3s;
    margin-bottom: 0em;
    transition-timing-function: ease-in-out;
    opacity: 0.6;
}

.menu-row:hover {
    opacity: 1;
    /* margin-left: 2.55em; */
}

#splash {
    opacity: 0;
    padding: 2em 0 0 0;
    position: absolute;
    top: 38%;
    width: 100%;
    /* z-index: -1; */
    transition-delay: 2s;
    transition: .6s;
    transition-timing-function: ease-in-out;
    /* color: #F55E4D; */
}

.section-content {
    padding: 20% 0 0 0;
    height: 60vh;
}

#scroll-down {
    background: none;
    border: none;
    transition: 0.5s;
    opacity: 0.2;
    /* width: 2em; */
    padding-top: .2em;
    /* height: 2em;
    border-radius: 3em;
    background: #2D384E;
    color: white; */
}

#scroll-down:hover {
    opacity: 1;
}

#about-splash {
    opacity: 0;
    transition: 0.3s;
    margin-top: 2em;
    transition-timing-function: ease-in;
}

#portfolio-overlay {
    position: fixed;
    z-index: 1000000;
    width: 100%;
    height: 100vh;
    /* overflow: scroll; */
    display: none;
    opacity: 0;
    /* bottom: -100vh; */
    background: #1B7397;
    transition-timing-function: ease;
    transition-duration: 0.2s;
    transition-delay: 0.5s;
}

*{
    cursor: none;
}

/*--Example 2--*/
.your-cursor2 {
	position: absolute;
	background-color: aqua;
	width: 7px;
	height: 7px;
	border-radius: 100%;
	z-index: 1;
	transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	transform: scale(1);
}
.your-cursor2.active {
	opacity: 0.5;
	transform: scale(0);
}
.your-cursor2.hovered {
	opacity: 0.08;
}

.follow2 {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.3);
	width: 20px;
	height: 20px;
	border-radius: 100%;
	z-index: 1;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	transform: translate(5px, 5px);
}
.follow2.active {
	opacity: 0.7;
	transform: scale(3);
}
.follow2.hovered {
	opacity: 0.08;
}

