/* ===== BEGIN STYLE NOTES ========================================== //

    z-index is used for the layered cursor interaction.

    0 = content/body
    1000 = nav menu opened
    2000 = cursor follow/spotlight (anything above can be shadowed)
    3000 = text in relief against spotlight and fixed menu 
    4000 = cursor 

// ===== END STYLE NOTES ============================================ */

/* ===== BEGIN @fontface ============================================ */

/* Font Lite */

@font-face {
    font-family: geomanist-lite;
    src: url('../font/geomanist-light-webfont.woff');
}

/* Font Thin */

@font-face {
    font-family: geomanist-thin;
    src: url('../font/geomanist-thin-webfont.woff');
}

/* Font Regular */

@font-face {
    font-family: geomanist-regular;
    src: url('../font/geomanist-regular-webfont.woff');
}

/* Font Ultra */

@font-face {
    font-family: geomanist-ultra;
    src: url('../font/geomanist-ultra-webfont.woff');
}

/* ===== END @fontface ============================================== */

/* ===== BEGIN GLOBAL =============================================== */

/* Remove the default cursor */

* {
    cursor: none !important;
}

/* Set HTML background in case of overflow/bounce on scroll */

html {
    background: #FCFCFC;
    color: #061826;
}

body {
    font-family: geomanist-lite, Helvetica, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: .115em;
    text-align: center;
}

p {
    font-size: 0.88em !important;
}

h1 {
    font-size: 5em;
    font-family: geomanist-thin;
}

h6 {
    font-size: 1em;
    font-family: geomanist-lite;
}

p {
    font-size: 1.33em;
}

a {
    /* Overrding the default initially */
    /* color: #FCFCFC; */
}

i {
    font-size: 1.6em;
    /* margin: 0 0 0 0.5em; */
}

i:hover {
    /* color: #FCBA04; */
}

a:hover {
    /* color: #FCFCFC; */
}

button {
    transition: 0.4s;
    letter-spacing: inherit;
    border: none;
    background: none;
    padding: 2em;
    /* border-radius: .3em; */
    /* color: #061826; */
    visibility: hidden;
    opacity: 0;
}

/* button:hover {
    color: #FCFCFC;
} */

button:focus {
    background: none;
}

/* ===== END GLOBAL ================================================= */

/* ===== BEGIN HELPER CLASSES ======================================= */

/* background and content */

.layer-0 {
    z-index: 0;
    position: relative;
}

/* nav menu */

.layer-1 {
    z-index: 1000;
    position: relative;
}

/* cursor shadow */

.layer-2 {
    z-index: 2000;
    position: relative;
}

/* content between cursor and shadow */

.layer-3 {
    z-index: 3000;
    position: relative;
}

/* cursor */

.layer-4 {
    z-index: 4000;
}

/* ===== END HELPER CLASSES ========================================= */

/* ===== BEGIN NAV TOGGLE AND MODAL ================================= */

.nav-fixed {
    position: fixed;
    font-size: 0.9em;
    padding: 1em;
    z-index: 3000;
    transition: .33s;
    /* transition-timing-function: ease-out; */
    opacity: 0.8;
}

.nav-fixed:hover {
    padding: 4.66em;
    opacity: 1;
    transform: scale(1.15);
}

.nav-tl {
    left: 0;
    top: 0;
}

.nav-tr {
    right: 0;
    top: 0;
}

.nav-bl {
    left: 0;
    bottom: 0;
}

.nav-br {
    right: 0;
    bottom: 0;
}

#nav-block {
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    z-index: 200;
    background: #4d6cfa;
    z-index: 1996;
}

#nav-main {
    opacity: 0;
    background: #06070E;
    color: #DCE1DE;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: -100vh;
    z-index: 1999;
    transition-duration: .66s;
    transition-timing-function: ease;
    transition-delay: 0.33s;
}

.nav-link {
    border-right: 5px solid #06070E;
    color: #4d6cfa;
    margin-top: 0.25em;
    transition: 0.44s;
    transition-timing-function: ease;
    padding: 0 1em 0 0;
    font-family: 'geomanist-lite';
    font-size: 1.33em;
}

.nav-link:hover {
    border-right: 2px solid white;
    color: white;
    padding: 0 2em 0 0;
}

#button-explore-container {
    padding: 1em;
    width: 20em;
    margin: auto;
}

#button-explore {
    background: none;
    transition: 0.33s;
    margin: 1em;
    padding: 2em;
    color: #FCFCFC;
}

#button-explore:hover {
    background: rgba(216, 219, 226, 0.0);
    margin: 2em;
    padding: 1em;
    color: #06070E;
}

.footer {
    position: relative;
    background: #000F08;
    color: #FCFCFC;
    height: 8em;
    z-index: 2;
}

/* ===== END NAV TOGGLE AND MODAL =================================== */

/* ===== BEGIN CIRCLE CURSOR ======================================== */

/* REPLACE CURSOR WITH ANIME.JS VERSION LATER - USE THIS: https://codepen.io/tguelcan-the-sasster/full/ROoxWm */

.your-cursor2 {
    position: absolute;
    background-color: #FB3640;
    /* cursor size (circle) */
    width: 6px;
    height: 6px;
    border-radius: 100%;
    z-index: 2;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1.2); */
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 4000;
    transform: scale(1);
    opacity: 1;
}

.your-cursor2.active {
    opacity: 0.5;
    transform: scale(0);
}

.your-cursor2.hovered {
    opacity: 0.08;
}

.follow2 {
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.1); */
    background: #FB3640;
    /* mix-blend-mode: exclusion;
    backdrop-filter: hue-rotate(120deg);
    /* mix-blend-mode: subtract; */
    /* backdrop-filter: invert(100%);  */
    width: 12px;
    height: 12px;
    border-radius: 100%;
    z-index: 2000;
    transition: 0.4s cubic-bezier(0.75, -1.27, 0.3, 1.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 0.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(8px, 8px);
    opacity: 0.1;
    backdrop-filter: invert(70%);
}

.follow2.active {
    opacity: 0.96;
    /* width: 60px;
    height: 60px; */
    transform: scale(4);
    /* background: #B2E135; */
    /* border-radius: 100%; */
}

.follow2.hovered {
    opacity: 0.08;
}

/* ===== END CIRCLE CURSOR ========================================== */

/* testing style */

.test-dark {
    color: #DCE1DE;
    background: #131515;
    /* border: 1px solid grey; */
    opacity: 0.75;
}

.test-light {
    /* background: lightgray; */
    /* border: 1px solid grey; */
    /* opacity: 0.75; */
}

#one {
    /* transition: s; */
}

#btn-scroll {
    /* style="border: 2px solid black; color: black; padding: .5em 1em .5em 1em; margin-top: 2em; width: 8em" */
    border: 1px solid #06070E;
    /* background: black; */
    color: black;
    padding: .5em 1em .5em 1em;
    margin-top: 3em;
    border-radius: 3em;
    width: 6em;
    /* transition-delay: .1s; */
    transition-duration: 0.35s;
    transition-timing-function: ease;
}

#btn-scroll-1 {
    /* style="border: 2px solid black; color: black; padding: .5em 1em .5em 1em; margin-top: 2em; width: 8em" */
    border: 1px solid white;
    color: white !important;
    padding: .5em 1em .5em 1em;
    margin-top: 2em;
    border-radius: 3em;
    width: 6em;
    /* transition-delay: .1s; */
    transition-duration: 0.35s;
}

#btn-scroll-1:hover {
    color: #FB3640 !important;
    background: white;
    border: 1px solid white;
}

#splash {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.23s;
    transition-duration: .66s;
    top: 12em;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#start {
    position: relative;
    opacity: 0;
    transition-delay: .63s;
    transition-duration: .33s;
    transition-timing-function: ease;
    font-family: 'geomanist-lite';
    font-size: 1.25em;
    top: 11em;
    text-align: center;
    /* padding-top: 4em; */
}

.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
    margin: 0;
    background: black;
}

.active-hb, .active-hb:before, .active-hb:after {
    background: white;
}

.nav-link-container {
    position: relative;
    transition-duration: .99s;
    transition-delay: .33s;
    opacity: 0;
    top: -10em;
    /* background: white; */
}

.social-link {
    padding-left: 0;
}

.social-link:hover {
    transform: scale(1.3)
}

#header-about {
    transform: 1s;
}

#portfolio-modal {
width: 100%;
height: 100vh;
z-index: 1999;
position: fixed;
top: 100vh; 
left: 0;
background: black;
color: white;
/* transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1); */
transition-duration: .33s;
opacity: 0;
}

.collapsible-header {
    background: none;
}

.collapsible-content {
    background: none;
    text-align: left;
}